body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#6ab446;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}

.navbar-brand {
    margin-left: 1em;
}

.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

#nav-button {
    background-color: rgba(0, 0, 0, 0.6);
}

#turtle-icon {
    background-image: url("../images/turtleburgericon1-02.png");    /* thanks to Denise Tran for the image <3 */
    background-size: 300% 300%;
}

.header {   
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .6);
}

.main-beige {
    background-color: antiquewhite;
}